@import "./styles/location.css";
@import "./styles/exhibitions.css";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
}

.nav a {
    margin-right: 3vw;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: url(./assets/big-ramp3.png);
    height: 99vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;;
}

.homepage-header {
    padding:5%;
}

.homepage h1 {
    color: white;
}

.homepage a {
    background-color: white;
    border: 2px solid red;
    padding: 5px;
    box-shadow: 2px 2px 0px 0px;
}

.mission {
    color: white;
    width: 35%;
    padding: 5%;
    background: #000000ad;
}

.hero {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.hero img {
    max-width: 100%;
}

.recent-ex {
    padding-left:5%;
    padding-top:5%
}

.gallery img {
    width: 40%;
    padding: 5%;
}

.gallery {
    display: flex;
    align-items: center;
    overflow: scroll;
}


.hours {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;

}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}

.social a {
    border: 2px solid red;
    padding: 5px;
    box-shadow: 2px 2px 0px 0px;
}

@media only screen and (max-width: 1200px){
    .homepage {
        flex-direction: column;
    }

    .mission {
        width: 85%;
    }
}