.google-map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.google-map h1 {
    text-decoration: underline;
}

.google-map iframe, .google-map p {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .google-map iframe, .google-map p {
        width: 80%;
    }
}